header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    grid-area: 1 / 1 / 2 / 6;


    & .logo{
        display: flex;
        align-items: center;
    }
}