* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
}

#root {
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main";
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto 1fr; 
    height: 100vh;
}